*{
font-family: 'Merriweather', serif;
font-size: medium;
}

input:focus{
    background: yellow;
}



.header {
background-color: aquamarine;
display: flex;
justify-content: center;

}

.Signup {
display: flex;
justify-content: center;

}
.hr{
    border-style: double;
}

.fieldset{
    border: none;

}

.Get {
    display: flex;
    justify-content: center;
}

.contact {
    display: flex;
    justify-content: center;
}

.form{
display: flex;
justify-content: center;
}



.name{
    display: flex;
    justify-content: center;
}


input[type]{
display: flex;
justify-content: center;

}

#name{
    padding-right: 150px;
    
}

#email{
    padding-right: 150px;
}

#Phone{
    padding-right: 150px;
}

#Street {
    padding-right: 150px;
}

#City{
    padding-right: 150px;
}


#State {
    display: flex;
    justify-content: left;
    padding-right: 220px;
}

.fieldset2{
    border: none;
}

#HTML-News{
    display: inline;
}

#CSS-News{
    display: inline;
}

#Javascript-News{
    display: inline;
}

.Newsletter {
    display: flex;
    justify-content: left;
}

#HTML {
    display: inline;
}

#Plain-text {
    display: inline;
}



#textarea  {
    padding: 25px 120px 40px 25px;
}

.Signup2 {
    margin-left: 18px;
    padding: 25px 140px 25px 130px;
    background-color: aqua;
}


.copyright {
    font-style: italic;
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 768px) {

  
.form{
    display: flex;
    justify-content: center;
}

.hr{
    width:50%;
    margin:0 auto;

}

.hr2{
    width:50%;
    margin:0 auto;
}

.fieldset{
    flex-direction: column;
}


#name{
    display: inline;
    margin-left: 30px;
    margin-bottom: 10px;
}

#email{
    display: inline;
    margin-bottom: 10px;
     padding-right: 150px;
}

#Phone{
    display: inline;
    margin-bottom: 10px;
    padding-right: 145px;
    
}

#Street {
   display: inline;
   margin-bottom: 10px;
   padding-right: 150px;
}

#City{
    display: inline;
    margin-left: 80px;
    margin-bottom: 10px;
}


#State {
    display: inline;
    margin-left: 70px;
    padding-right: 220px;
    margin-bottom: 10px;
}

#ZipCode{
    display: inline;
     margin-left: 50px;
    margin-bottom: 10px;
}

#textarea {
    padding: 25px 250px 40px 25px;
}

.Signup2 {
    margin-left: 11px;
    padding-left: 180px;
    padding-right: 225px;
    background-color: aqua;
}

.Get{
    font-size: x-small;
}

}




